html,
body {
    height: 100%;
}


/* BAR CHART*/
.bar {
    opacity: 1;
    cursor: pointer;
}

.bar:hover {
    border: thin solid black;
    cursor: pointer;
}

#bubbleChartDiv {
    /*background-color: #0d47a1;*/
}
/* LINE CHART*/
/*.line {
    stroke: #0571b0;
    stroke-width: 2px;
}

.line:hover {
    stroke: #92c5de;
    stroke-width: 3px;
}

.selectedLine {
    stroke: #ca0020;
    stroke-width: 2px;
}

.selectedLine:hover {
    stroke: #f4a582;
    stroke-width: 3px;
}*/



/*
.circle {
    fill: #0571b0;
    stroke: black;
}

.circle:hover {
    fill: #92c5de;
}

.selectedCircle {
    fill: #ca0020;
    opacity: 1
}

.selectedCircle:hover {
    fill: #f4a582;
    opacity: 1
}*/

.carousel-indicators li {
    display: inline-block;
    width: 20px;
    height: 5px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 100);
    border: 0.4px solid #000000;
}

.carousel-indicators .active {
    width: 20px;
    height: 5px;
    margin: 0;
    background-color: rgb(73, 73, 73);
}
