html,
body {
    height: 100%;
}


/* BAR CHART*/
.bar {
    fill: #0571b0
}

.bar:hover {
    fill: #92c5de
}

.selectedBar {
    fill: #ca0020;
    opacity: 1
}

.selectedBar:hover {
    fill: #f4a582;
    opacity: 1
}


/* LINE CHART*/
.line {
    stroke: #0571b0;
    stroke-width: 2px;
}

.line:hover {
    stroke: #92c5de;
    stroke-width: 3px;
}

.selectedLine {
    stroke: #ca0020;
    stroke-width: 2px;
}

.selectedLine:hover {
    stroke: #f4a582;
    stroke-width: 3px;
}



.circle {
    fill: #0571b0;
    stroke: black;
}

.circle:hover {
    fill: #92c5de;
}

.selectedCircle {
    fill: #ca0020;
    opacity: 1
}

.selectedCircle:hover {
    fill: #f4a582;
    opacity: 1
}